version: '3'
services:

  ghost:
    build:
      context: ./ghost
      dockerfile: Dockerfile
    restart: always
    env_file:
      - secrets.env
    volumes:
      - /home/stainsbury/ghost_content:/var/lib/ghost/content

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - ghost
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt/:/etc/letsencrypt/
      - /usr/share/nginx/html:/usr/share/nginx/html
