version: '3'
services:

  ghost:
    image: ghost:latest
    restart: always
    environment:
      url: https://stainsbury.org
    volumes:
      - /home/stainsbury/ghost_content:/var/lib/ghost/content
      - /home/stainsbury/ghost:/var/lib/ghost

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - ghost
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt/:/etc/letsencrypt/
      - /usr/share/nginx/html:/usr/share/nginx/html
